<img src="https://somervilleartscouncil.org/sacfiles/styles/banner/public/banners/ukeleband2012.jpg?itok=BgGxTfaJ" alt="" /> 

<p>PorchFest Somerville is on for Sat., Oct. 2nd.   </p>
<p>Residential parking will be relaxed from 11 to 8 p.m.  Meter, handicap, loading zone parking will be enforced. </p>
<p><strong><a href="http://somervilleartscouncil.org/porchfest/2021">See the 2021 PorchFest map/bands performing here </a>  </strong>We will be converting over to a more static page on the day of the event.</p>
<p>We are moving back to our traditional approach with bands performing on local porches, while guests move through the city.   This event is a decentralized effort among bands, neighborhoods, and community---this is not a festival per se.  The intent is to showcase Somerville's musical talent.  </p>
<p><strong>Audience: </strong> Please respect neighboring property; NO public drinking; stay on sidewalks, not in roadway.   We strive for this to be a family friendly event, please help us keep it that way. </p>
<p>**If you are in need of a public restroom we have placed portajohns around the city of public property. <a href="https://www.google.com/maps/d/viewer?mid=1N-2jHXjdJiGX_dpcLmK-o2evg_l0CfsQ&amp;ll=42.39574102831288%2C-71.10775821934203&amp;z=14"> Use them; find them here. </a>**</p>
<p>We are not promoting a charity for this year' PorchFest but rather encourage you to support the local bands participating.  Fill those tip jars. </p>
<p><strong>Registration is closed---thanks to all the bands. </strong></p>
<p>
<strong>Special Thanks to Kirk Isreal and Moses Blumenstiel for their combined web work on Porchfest. </strong></p>
<p>In 2011, the Council created a decentralized music festival--Porchfest.  Perhaps you’ve sat on your porch and overheard a neighbor strumming guitar on another porch?  Porchfest takes this idea and multiplies it. <strong>This is not a festival per se </strong>but rather a community event where Somervillians share their love of playing and listening to music.  Think of Somerville Open Studios, which is for visual artists, but for music. </p>
<p>


