



  <h2 class="intro">
    Hoverboards don't work on water...unless you have POWER!
  </h2>
  <ul class="product-listing list-unstyled">


    <%=     render partial: "artist", collection: @artists %>

    


  </ul>

