


<section class="content">
  <h2 class="intro">
    Hoverboards don't work on water...unless you have POWER!
  </h2>
  <ul class="product-listing list-unstyled">

    <% @artists.each do |a|  %>
    <li class="product">
      <img src=<%= a.image %> alt="" class="product-image">
      <div class="product-meta">
        <h2 class="product-title"><%= a.name %> </h2>
        <p class="product-description">
	  <%= a.description %>		
        </p>
        <a class="product-link" href="#">See Details</a>
      </div>
    </li>
    <% end %>

  </ul>
</section>
